{% load static %}
<footer class="footerSection">
    <div class="rowContainer">
        <div class="footerContactbox1">
            <p class="footerGrowText">Grow Your<br/> Business Today!</p>
        </div>
        <div class="footerContactContainer box2">
            <h3 class="footerContactTitle">Contact Us</h3>
            <p class="footerContactInfo">
                Email: romsitesllc@gmail.com
                <br/>
                Phone Number: 317-740-5279
            </p>
        </div>
    </div>
    <h3 class="footerCompanyTitle">ROMSITES LLC</h3>
</footer>
